<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AlbumMaker.Properties.DarkThemeSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AlbumMaker.Properties.LightThemeSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AlbumMaker.Properties.theme" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AlbumMaker.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AlbumMaker.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AlbumMaker.Properties.AppSettings.SQLConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|Data|\Appdata.mdf;Integrated Security=True" />
    </connectionStrings>
    <userSettings>
        <AlbumMaker.Properties.DarkThemeSettings>
            <setting name="Background" serializeAs="String">
                <value>#373861</value>
            </setting>
            <setting name="Foreground" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="ButtonBackground" serializeAs="String">
                <value>#5254B5</value>
            </setting>
            <setting name="ButtonForeground" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="SideMenuBackground" serializeAs="String">
                <value>#202152</value>
            </setting>
            <setting name="SideMenuForeground" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="SideMenuButtonBackground" serializeAs="String">
                <value>#3f4fb5</value>
            </setting>
            <setting name="SideMenuButtonForeGround" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="TextBoxBackground" serializeAs="String">
                <value>#aeb0fc</value>
            </setting>
            <setting name="TextBoxForeground" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="LinkLabelForeground" serializeAs="String">
                <value>#00eaff</value>
            </setting>
            <setting name="LinkLabelOnClick" serializeAs="String">
                <value>#ffd500</value>
            </setting>
        </AlbumMaker.Properties.DarkThemeSettings>
        <AlbumMaker.Properties.LightThemeSettings>
            <setting name="Background" serializeAs="String">
                <value>#e6e6e6</value>
            </setting>
            <setting name="Foreground" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="ButtonBackground" serializeAs="String">
                <value>#c7c7c7</value>
            </setting>
            <setting name="ButtonForeground" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="SideMenuBackground" serializeAs="String">
                <value>#6d95bf</value>
            </setting>
            <setting name="SideMenuForeground" serializeAs="String">
                <value>#ffffff</value>
            </setting>
            <setting name="SideMenuButtonBackground" serializeAs="String">
                <value>#b2cbeb</value>
            </setting>
            <setting name="SideMenuButtonForeGround" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="TextBoxBackground" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="TextBoxForeground" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="LinkLabelForeground" serializeAs="String">
                <value>#005eff</value>
            </setting>
            <setting name="LinkLabelOnClick" serializeAs="String">
                <value>#00bf53</value>
            </setting>
        </AlbumMaker.Properties.LightThemeSettings>
        <AlbumMaker.Properties.theme>
            <setting name="background" serializeAs="String">
                <value />
            </setting>
            <setting name="foreground" serializeAs="String">
                <value />
            </setting>
        </AlbumMaker.Properties.theme>
        <AlbumMaker.Properties.AppSettings>
            <setting name="FontSize" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="isDark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="userName" serializeAs="String">
                <value />
            </setting>
            <setting name="AppEXELocation" serializeAs="String">
                <value />
            </setting>
            <setting name="isLogged" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="currentUser" serializeAs="String">
                <value />
            </setting>
            <setting name="AppDataFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="AlbumSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="AppAlbumsFolderName" serializeAs="String">
                <value>Albums</value>
            </setting>
            <setting name="AppDatabaseFolderName" serializeAs="String">
                <value>Database</value>
            </setting>
            <setting name="AppDatabaseFileName" serializeAs="String">
                <value>Database.db</value>
            </setting>
            <setting name="UserPassword" serializeAs="String">
                <value />
            </setting>
        </AlbumMaker.Properties.AppSettings>
    </userSettings>
    <applicationSettings>
        <AlbumMaker.Properties.AppSettings>
            <setting name="AppName" serializeAs="String">
                <value>DigiBum</value>
            </setting>
        </AlbumMaker.Properties.AppSettings>
    </applicationSettings>
</configuration>